body
{
	margin:0px;
	padding:0px;
}
body
{
	font-size:14px;
	color:#333;
	background-color:#fff;
}
ul,li
{
	margin:0;
	padding:0;
	list-style:none;
}
input
{
	padding:0;
	margin:0;
}
button
{
	padding:0;
	margin:0;
	border:none;
}
*
{
	box-sizing:border-box;
	font-family:'微软雅黑';
	border:0;
}
a{text-decoration:none;}
