  <div class="footer">
    <div class="container">
	  <div class="row myrow">
	    <div class="col-lg-4">
		  <h4 style="font-weight:normal;">主办单位</h4>
        <h5>《中国信息界》杂志社</h5>
        <img src="../web/img/email.png"><span style=" margin-left:10px;">010-82893346</span>
         <br>
        <img src="../web/img/tele.png" style=" margin-left:1px;"><span style=" margin-left:12px;">zgxxjsi@sina.com</span>
        <br>
        <img src="../web/img/adress.png"><span style=" margin-left:10px;">北京市海淀区中关村南四街东华合创大厦7层</span>
      </div>
	  <div class="col-lg-4">
      <h4 style="font-weight:normal;">友情链接</h4>
      <a class="bottoma" href="http://www.iloushi.cn/">楼市传媒集团</a> 
      <a class="bottoma" href="http://www.miit-csip.org.cn/" target="_blank">工业和信息化部软件与集成电路促进中心</a> 
      <a class="bottoma" href="http://www.rsac.org.cn/" target="_blank">中国区域科学协会</a> 
      <a class="bottoma"  href="http://www.chinasmartcity.org/" target="_blank">中国智慧城市论坛</a>     
      </div>
	  <div class="col-lg-4">
      <h4 style="font-weight:normal;">关注我们</h4>
      <table class="table">
        <tbody><tr>
		<td class="bottomtdImg"> 
            <img src="../web/img/code3.jpg" class="img-thumbnail bottomImg"></td>
        <td class="bottomtdImg"> 
            <img src="../web/img/code1.jpg" class="img-thumbnail bottomImg" ></td>
       <td class="bottomtdImg"> 
            <img src="../web/img/code2.jpg" class="img-thumbnail bottomImg"></td>
      </tr><tr>
	  <td class="bottomTdText">中国信息界</td>
	  <td class="bottomTdText">智慧城市导刊</td>
	  <td class="bottomTdText">信息惠民网</td></tr></tbody></table> 
      </div>
		</div>
	  </div>
	  
	  <div class="container mycontainer">
	   <div class="row">
	     <div class="col-lg-12">
		    Copyright2014-2016 All Rights Reserved &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  中国信息界网版权所有  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="lawa">京ICP备12037795号-3</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a class="lawa">【法律声明】</a>
		 </div>
	   </div>
	</div>
	</div>